/* .container {
    display: grid;
    grid-template-columns:200px 200px 200px 200px 200px 200px;
    grid-template-rows: 200px 200px 200px 200px;
    gap: 1em;
    grid-template-areas:
    "box-1 box-1 box-1 box-4 box-4"
    "box-1 box-1 box-1 box-4 box-4"
    "box-7 box-7 box-8 box-8 box-8"
    "box-7 box-7 box-8 box-8 box-8" ;
    background: rgba(0, 0, 0, 0.5);
    width: 51%;
    height: 44vh;
    padding: 25px;
    
}

.item {
    padding: 2em;
    background-color:  blue;
    color: white;
    text-align: center;
    border-radius: 16px;
    font-size: 2rem;
}
/* @media(max-width: 768px) {
    .container {
       display: grid;
       grid-template-columns:200px 200px 200px 200px;
       grid-template-rows: 200px 200px;
       gap: 1em;
       grid-template-areas:
       "box-1 box-2" 
       "box-3 box-2"
       "box-3 box-4"  
       "box-5 box-4";
    
}
} */ 
 /* .container {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding: 10px;
    scroll-behavior: smooth;
 }
 .product-card{
    flex: 0 0 500px;
    height: 400px;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
 } */