* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}
header {
    height: 150px;
    width: 100%;    
    display: flex;
    flex-direction: column;
}
.top-nav{
    background: rgb(19, 25, 33);
    height: 60px;
    width: 100%;
}
.bottom-nav{
    background: rgb(34, 46, 61);
    height: 50px;
    width: 100%;
}
main {
    display: flex;
    flex-direction: column;
    padding: 2%;
    justify-content: center;
    align-content: center;
    gap: 20px;
}
.cont-1 {
    width: 210vh;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.side-btns {
    margin: 0;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
}
.side-btns button{
    background: none;
    color: rgb(0, 0, 0);
    outline: none;
    border: none;
    font-size: 30px;
}
.cont-1  .box1 , .box2 , .box3 {
    height: 60vh;
    padding: 25px;
    width: 60vh;
    background: gray;
}
.cont-1 .box4 {
    height: 30vh;
    background: gray;
    padding: 20px;
    width: 60vh;
}

.cont-2, .cont-5, .cont-6 {
    width: 210vh;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.cont-2 .box1, .box2, .box3, .box4 {
    height: 60vh;
    padding: 25px;
    width: 60vh;
    background: gray;
}
.cont-3, .cont-4, .cont-6 {
    width: 100%;
    height: 40vh;
    background: gray;
}

.cont-5 .box1, .box2, .box3, .box4 {
    height: 60vh;
    padding: 25px;
    width: 60vh;
    background: gray;
}

